header.header
	.container
		.header__wrap
			a.logo.header__logo(href="#")
				img(src="img/logo.svg" alt="Logotype NVidia")
			button.nav-toggle.js-nav-toggle(type="button")
				span
				span
				span
			nav.nav.js-nav
				ul.nav__list
					li
						a.nav__link(href="#") Продукты
					li
						a.nav__link(href="#") Технологии
					li
						a.nav__link(href="#") Experience
				ul.social.header__social
					li
						a.social__link.social__link--twitter(href="#")
							svg
								use(xlink:href="#icon-twitter")
					li
						a.social__link.social__link--instagram(href="#")
							svg
								use(xlink:href="#icon-instagram")
