section.promo
    .container
        .promo__wrap
            h1.promo__title Преимущества G&#8209;sync
            p.promo__desc Каждый монитор с технологией G&#8209;SYNC проходит серьезное тестирование и контроль качества для обеспечения максимальной производительности. Сотни мониторов проходят контроль качества, но только прошедшие все тесты получают сертификацию G&#8209;SYNC.
            ul.promo__list
                li.promo__item
                    .promo__item-logo
                        <svg viewBox="0 0 151 71" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.35388 36.075C2.19763 35.8842 2.05746 35.7104 1.9334 35.5546C2.08294 35.386 2.25391 35.1955 2.44607 34.9845C3.31029 34.0352 4.60244 32.6718 6.29997 31.032C9.69616 27.7513 14.7082 23.3712 21.1555 18.9907C34.0563 10.2256 52.6409 1.5 75.5 1.5C99.8729 1.5 118.454 10.2359 130.953 18.9791C137.204 23.3519 141.928 27.723 145.085 30.9946C146.662 32.6299 147.847 33.989 148.633 34.934C148.84 35.1823 149.019 35.402 149.17 35.5905C149.057 35.7617 148.926 35.9572 148.776 36.1751C148.132 37.1106 147.145 38.4597 145.786 40.085C143.07 43.3361 138.873 47.6876 132.983 52.044C121.218 60.7453 102.651 69.5 75.5 69.5C50.8747 69.5 32.295 60.7624 19.8626 52.0229C13.6442 47.6515 8.96792 43.282 5.85147 40.012C4.2937 38.3775 3.12711 37.0192 2.35388 36.075Z" stroke="white" stroke-width="3"/>
                            <circle cx="77" cy="35" r="24.5" stroke="white" stroke-width="3"/>
                            <circle cx="77" cy="35" r="21.5" stroke="#77B900" stroke-width="3"/>
                            <circle cx="77" cy="35" r="9.5" stroke="#77B900" stroke-width="5"/>
                            <circle cx="96" cy="22" r="7" fill="white"/>
                        </svg>
                    h2.promo__item-title #[span HDR] DISPLAY
                    p.promo__item-desc Получите более широкий и комфортный для восприятия диапазон цветовой гаммы, чем в обычных мониторах.
                li.promo__item
                    .promo__item-logo
                        <svg viewBox="0 0 151 71" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.35388 36.075C2.19763 35.8842 2.05746 35.7104 1.9334 35.5546C2.08294 35.386 2.25391 35.1955 2.44607 34.9845C3.31029 34.0352 4.60244 32.6718 6.29997 31.032C9.69616 27.7513 14.7082 23.3712 21.1555 18.9907C34.0563 10.2256 52.6409 1.5 75.5 1.5C99.8729 1.5 118.454 10.2359 130.953 18.9791C137.204 23.3519 141.928 27.723 145.085 30.9946C146.662 32.6299 147.847 33.989 148.633 34.934C148.84 35.1823 149.019 35.402 149.17 35.5905C149.057 35.7617 148.926 35.9572 148.776 36.1751C148.132 37.1106 147.145 38.4597 145.786 40.085C143.07 43.3361 138.873 47.6876 132.983 52.044C121.218 60.7453 102.651 69.5 75.5 69.5C50.8747 69.5 32.295 60.7624 19.8626 52.0229C13.6442 47.6515 8.96792 43.282 5.85147 40.012C4.2937 38.3775 3.12711 37.0192 2.35388 36.075Z" stroke="white" stroke-width="3"/>
                            <circle cx="77" cy="35" r="24.5" stroke="white" stroke-width="3"/>
                            <circle cx="77" cy="35" r="21.5" stroke="#77B900" stroke-width="3"/>
                            <path d="M77 18.5V35H90" stroke="#77B900" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    h2.promo__item-title #[span INPUT] LAG
                    p.promo__item-desc Мониторы с технологией G-SYNC обеспечивают минимальную задержку между нажатием клавиш и результатом на экране, что очень важно для геймеров.
                li.promo__item
                    .promo__item-logo
                        <svg viewBox="0 0 151 71" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.35388 36.075C2.19763 35.8842 2.05746 35.7104 1.9334 35.5546C2.08294 35.386 2.25391 35.1955 2.44607 34.9845C3.31029 34.0352 4.60244 32.6718 6.29997 31.032C9.69616 27.7513 14.7082 23.3712 21.1555 18.9907C34.0563 10.2256 52.6409 1.5 75.5 1.5C99.8729 1.5 118.454 10.2359 130.953 18.9791C137.204 23.3519 141.928 27.723 145.085 30.9946C146.662 32.6299 147.847 33.989 148.633 34.934C148.84 35.1823 149.019 35.402 149.17 35.5905C149.057 35.7617 148.926 35.9572 148.776 36.1751C148.132 37.1106 147.145 38.4597 145.786 40.085C143.07 43.3361 138.873 47.6876 132.983 52.044C121.218 60.7453 102.651 69.5 75.5 69.5C50.8747 69.5 32.295 60.7624 19.8626 52.0229C13.6442 47.6515 8.96792 43.282 5.85147 40.012C4.2937 38.3775 3.12711 37.0192 2.35388 36.075Z" stroke="white" stroke-width="3"/>
                            <path d="M111.967 31.7183C110.915 19.459 101.088 9.72433 88.7893 8.79449C96.6876 13.0493 102.058 21.3922 102.058 30.9915C102.058 31.2377 102.027 31.4745 102.02 31.7183H93.9286L106.419 47.7938L119.91 31.7183H111.967Z" fill="white"/>
                            <path d="M50.6808 41.0085C50.6808 40.7355 50.7112 40.4707 50.7205 40.2012H59.0713L46.5823 24.1257L33.0898 40.2012H40.7653C41.7827 52.4978 51.6235 62.2757 63.947 63.2067C56.0498 58.9495 50.6808 50.6078 50.6808 41.0085Z" fill="white"/>
                            <path d="M84 20H67V37H72L70.5 55.25L86 34H74L84 20Z" fill="#77B900"/>
                        </svg>
                    h2.promo__item-title #[span HIGH REFRESH] RATE
                    p.promo__item-desc NVIDIA тесно сотрудничает с производителями мониторов, чтобы вывести на рынок широкий спектр дисплеев с высокой частотой обновления экрана от 75 до 360 Гц.
                li.promo__item
                    .promo__item-logo
                        <svg viewBox="0 0 151 71" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.35388 36.075C2.19763 35.8842 2.05746 35.7104 1.9334 35.5546C2.08294 35.386 2.25391 35.1955 2.44607 34.9845C3.31029 34.0352 4.60244 32.6718 6.29997 31.032C9.69616 27.7513 14.7082 23.3712 21.1555 18.9907C34.0563 10.2256 52.6409 1.5 75.5 1.5C99.8729 1.5 118.454 10.2359 130.953 18.9791C137.204 23.3519 141.928 27.723 145.085 30.9946C146.662 32.6299 147.847 33.989 148.633 34.934C148.84 35.1823 149.019 35.402 149.17 35.5905C149.057 35.7617 148.926 35.9572 148.776 36.1751C148.132 37.1106 147.145 38.4597 145.786 40.085C143.07 43.3361 138.873 47.6876 132.983 52.044C121.218 60.7453 102.651 69.5 75.5 69.5C50.8747 69.5 32.295 60.7624 19.8626 52.0229C13.6442 47.6515 8.96792 43.282 5.85147 40.012C4.2937 38.3775 3.12711 37.0192 2.35388 36.075Z" stroke="white" stroke-width="3"/>
                            <circle cx="75.5" cy="27.5" r="11.5" fill="#77B900" fill-opacity="0.75" stroke="white" stroke-width="2"/>
                            <circle cx="66.5" cy="42.5" r="11.5" fill="#77B900" fill-opacity="0.5" stroke="white" stroke-width="2"/>
                            <circle cx="84.5" cy="42.5" r="11.5" fill="white" fill-opacity="0.45" stroke="white" stroke-width="2"/>
                        </svg>
                    h2.promo__item-title #[span WIDE COLOR] GAMUT
                    p.promo__item-desc Современные мониторы G-SYNC ULTIMATE поддерживают цветовой охват DCI-P3, обеспечивая более реалистичную цветопередачу с плавными переходами.
            a.btn.promo__btn(type="button" data-toggle="modal" href='#buyModal') Купить
