#buyModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
	.modal-dialog(role='document')
		.modal-content
			.modal-body
				button.close(type='button' data-dismiss='modal' aria-label='Close')
				h2.modal-body__title ПРЕИМУЩЕСТВА G&#8209;SYNC
				form.modal-form(action="#")
					input.input.modal-form__input(type="text" placeholder="Имя" name="user-name")
					input.input.modal-form__input(type="email" placeholder="Mail" name="user-email")
					button.btn.modal-form__btn(type="submit") Купить