.header {
    background-color: $black;
    position: relative;

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include media-breakpoint-up(md) {
            justify-content: flex-start;
        }
    }

    &__logo {
        @include media-breakpoint-up(md) {
            margin-right: 14px;
        } 
    }

    &__social {
        margin-bottom: 43px;

        @include media-breakpoint-up(md) {
            margin-bottom: 0;
        } 
    }
}